<nav id="nav-main">
    
    <a href="/" class="link"><i class='fa fa-home'></i></a>
    <a href="/bars" class="link"><i class='fas fa-glass-martini-alt'></i></a>
    <a href="/my-dev-squad" class="link">My dev Squad |</a>
    <a href="/add-new-ironhacker" class="link">New Ironhackers |</a>
    <a href="/party/all" class="link">Let's party</a>
</nav>