<h1>new ironhacker!</h1>

<form class="form">
    <label class="label" for="userName">Please submit your username:</label>
    <input class="input" type="text" name="userName" id="userName">
    <label class="label" for="userEmail">Please submit your email:</label>
    <input class="input" type="email" name="userEmail" id="userEmail">
    <label class="label" for="userFavoriteLangage">Please submit your favorite programming langage:</label>
    <input class="input" type="text" name="userFavoriteLangage" id="userFavoriteLangage">
    <input class="btn" type="submit" value="Submit your form !">
</form>