#header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: var(--color-dark);
    height: var(--header-height);
    padding: 5px 20px;
}

#content-main {
    position: relative;
    top: var(--header-height);
    padding: 20px 20px 60px 20px;
}

#logo {
    color: var(--color-light);
    font-family: 'Contrail One', cursive;
}

#footer-main {
    position: fixed;
    bottom: 0;
}