<h1 class="title">Create party</h1>

<form method="post" action="/party/create" class="form">
    <label class="label" for="name" class="label">name</label>
    <input class="input" type="text" id="name" name="name" placeholder="a cool party name" value="foo party">

    <label class="label" for="theme" class="label">theme</label>
    <input class="input" type="text" id="theme" name="theme" placeholder="lets find a rocking theme" value="halloween">

    <label class="label" for="date" class="label">date</label>
    <input class="input" type="date" id="date" name="date" required>

    <label class="label" for="address" class="label">address</label>
    <input class="input" type="text" id="address" name="address" placeholder="where dat ???" value="100 rue fake, 00000 Faketown">

    <label class="label" for="host" class="label">host</label>
    <input class="input" type="text" id="host" name="host" placeholder="@ who dat ???" value="Doug Crockford">

    <button class="btn">gooooo</button>
</form>
